<h1>Here is a list of your movie lists, confused yet?</h1>

<%= link_to "Add a new list", new_list_path %>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list %> </li>
    <% end %>
</ul>
